extends layout

block content 
    h1= title
    p Listado de #{title}
    ul
    div 
        table.table 
            thead 
            tr
                th País 
                th Población
            tbody 
            each pais in paises
                tr
                    td #{pais.pais}
                    td #{pais.poblacion}